.Purple {
    color: purple;
}

.Black {
    color: black;
}

.width_150 {
    width: 150px;
}

.width_100_percent {
    width: 100%;
}

.border {
    border: solid 1px black;
    padding: 3px;
}

.margin_15 {
    margin: 15px;
}

.padding_5 {
    padding: 5px;
}

.padding_3 {
    padding: 3px;
}

.font_14 {
    font-size: 14px;
}

#NumberOfSentencesLockedInIdSlider .slider-selection {
    background: #BABABA;
}