.Purple {
    color: purple;
}

.Black {
    color: black;
}

.width_150 {
    width: 150px;
}

.width_100_percent {
    width: 100%;
}

.border {
    border: solid 1px black;
    padding: 3px;
}

.margin_15 {
    margin: 15px;
}

.padding_5 {
    padding: 5px;
}

.padding_3 {
    padding: 3px;
}

.font_14 {
    font-size: 14px;
}

#NumberOfSentencesLockedInIdSlider .slider-selection {
    background: #BABABA;
}

/* segmentation background colors */
.A0 {
    background: #ffe9d2;
}

.A1 {
    background: #e4f4d9;
}

.A2 {
    background: #8EC3EA;
}

.A3 {
    background: Yellow;
}

.A4 {
    background: Orange;
}

.A5 {
    background: Purple;
}

.A6 {
    background: #444444;
}

.A7 {
    background: #888888;
}