.saved-experiment-pills {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.saved-experiment-pills > li {
    position: relative;
    display: block;
    width: calc(100% + 30px);
    margin: 0px 0px 0px -15px;
}
.saved-experiment-pills > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
.saved-experiment-pills > li > a:hover,
.saved-experiment-pills > li > a:focus {
    text-decoration: none;
    background-color: #bccbd3;
}

.saved-experiment-pills > li > a > img {
    max-width: none;
}

.saved-experiment-pills > li {
    float: left;
}
.saved-experiment-pills > li > a {
    border-radius: 5px;
}

/* feature frequency control properties */
.feature-freq-line {
     width: 100%;
     border-bottom: 2px dotted #ccc;
     position: absolute;
     left: 0;
     top: 30px;
     z-index: 1;
 }

.feature-freq-bars {
    width: 100%;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    position: absolute;
    left: 0;
    top: 20px;
    height: 21px;
    z-index: 1;
}

.feature-freq-other-dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #bccbd3;
    position: absolute;
    top: 21px;
    z-index: 2;
}
.feature-freq-other-dot-label {
    position: absolute;
    color: #8c9ba3;
    top: 45px;
    width: 40px;
    text-align: center;
    z-index: 2;
}
.feature-freq-dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 21px;
    z-index: 2;
}
.feature-freq-dot-label {
    position: absolute;
    top: 45px;
    width: 40px;
    text-align: center;
    z-index: 2;
}
.feature-freq-arrow-down {
    position: absolute;
    z-index: 3;
    top: 20px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;

    border-top: 10px solid #000;
}
.feature-freq-arrow-down-label {
    position: absolute;
    z-index: 3;
    top: 0;
    width: 40px;
    height: 0;
    text-align: center;
}
.class-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
}
table.feature-set-table tbody tr td {
    vertical-align: middle;
}

/* TODO: replace with bootstrap-based modal system; this hides the ngdialog box in the meantime */
.ngdialog.ngdialog-theme-default.override-background .ngdialog-content {
    background: transparent;
}
.disabled-table-row {
    color: #dddddd;
}
.disabled-table-row .icon-td span {
    color: #dddddd;
}

/* ngDialog theme overrides */
.ngdialog.ngdialog-theme-default .ngdialog-content {
    width: 95%;
}

.ngdialog.ngdialog-theme-default .ngdialog-button {
    float: left;
}

.ngdialog.ngdialog-theme-default {
    padding-bottom: 10px;
    padding-top: 10px;
}

.tab-content {
    padding-top: 10px;
}

.parallels-source-heading {
    margin-top:0;
    color: #959595;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.parallels-parallel-heading {
    margin-top:0;
    color: #959595;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.parallels-parallel {
    direction:rtl;
    padding:5px;
    margin: 0 0 10px;
    border-radius: 5px;
    border:#BBB 1px solid
}

*[ng-click] {
    cursor: pointer;
}

/* based on https://github.com/dbtek/bootstrap-vertical-tabs */
.tabs-left {
    border-bottom: none;
    padding-top: 2px;
    border-right: 1px solid #ddd;
}
.tabs-left>li {
    float: none;
    margin-bottom: 2px;
    margin-right: -1px;
}
.tabs-left>li.active>a,
.tabs-left>li.active>a:hover,
.tabs-left>li.active>a:focus {
    border-bottom-color: #ddd;
    border-right-color: transparent;
}
.tabs-left>li>a {
    border-radius: 4px 0 0 4px;
    margin-right: 0;
    display:block;
}

.autocomplete-highlight {
    color: #ff0000;
}

input.form-control.search-control-class {
    width: 630px;
    direction: rtl;
}

.angucomplete-dropdown {
    width: 624px;
    direction: rtl;
    margin-left: 3px;
    margin-top: -2px;
}

.bible-viewtext-box {
    border: 1px solid #bdccd4;
    border-radius: 5px;
}

.bible-viewtext-box h2 {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 8px 18px 8px 18px;
    border-radius: 5px;
}

.clickable {
    cursor: pointer;
}

.chunk-bar {
    position: fixed;
    top: 0;
    right: 0;
    width: 15px;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 8px;
    /*text-align: justify;*/
    min-height: 1px;
    /* padding: 1px 6px; */
    /*border: solid #BDCBD4;*/
    /*border-width: 1px 1px 0 1px;*/
}

.chunk-bar-chunk {
    /*border-bottom: 1px solid #BDCBD4;*/
    /*padding: 4px 6px;*/
    margin-bottom: 3px;
    /* border: 1px solid red; */
    overflow-y: hidden;
}
