<div style="text-align:center;" ng-if="$ctrl.experiment.stats.running">
    <img src="images/loader.gif"/>
    <h5>This may take a while...</h5>
</div>

<div ng-if="$ctrl.experiment.stats.haveResults">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Parallels - Results</h3>
        </div>
        <div class="panel-body">
            <div class="col-xs-6">
                <h4>Source</h4>
                <div>
                    <input name="sourceGroup" type="radio" checked ng-click="$ctrl.setDetailAllSources()"> All
                    ({{$ctrl.countParallels(null, $ctrl.filterParallel)}}<span style="color: #aaa" ng-if="$ctrl.filterParallel">
                        filtered from {{$ctrl.totalParallels()}} total</span>)
                </div>
                <div ng-if="$ctrl.filterParallel">(filtered by {{$ctrl.filterParallel}})</div>
                <div ng-repeat="section in $ctrl.getSections() | limitTo:$ctrl.resultsLimit">
                    <input name="sourceGroup" type="radio" ng-click="$ctrl.setDetailSource(section)">
                    {{section.name}}
                    ({{$ctrl.countParallels(section, $ctrl.filterParallel)}}<span style="color: #aaa" ng-if="$ctrl.filterParallel">
                        filtered from {{section.count}}</span>)
                </div>
                <div ng-if="$ctrl.getSections().length > $ctrl.resultsLimit">...</div>
            </div>
            <div class="col-xs-6">
                <h4>Parallels</h4>
                <div>
                    <input name="parallelsGroup" type="radio" checked ng-click="$ctrl.setDetailAllParallels()"> All
                    ({{$ctrl.countParallels($ctrl.filterSource, null)}}<span style="color: #aaa" ng-if="$ctrl.filterSource">
                        filtered from {{$ctrl.totalParallels()}}</span>)
                </div>
                <div ng-if="$ctrl.filterSource">(filtered by {{$ctrl.filterSource.name}})</div>
                <div ng-repeat="group in $ctrl.groupList($ctrl.getParallels(), 0)| limitTo:$ctrl.resultsLimit">
                    <h5 ng-hide="group.heading ==''"><i ng-click="$ctrl.parallelExpand[group.heading] = !$ctrl.parallelExpand[group.heading]"
                           class="fa {{$ctrl.parallelExpand[group.heading] ? 'fa-chevron-down' : 'fa-chevron-right'}}"
                    ></i> {{group.heading}}
                    ({{$ctrl.countParallels($ctrl.filterSource, group.heading)}}<span style="color: #aaa" ng-if="$ctrl.filterSource">
                        filtered from {{group.count}}</span>)
                    </h5>
                    <div ng-show="group.heading == '' || $ctrl.parallelExpand[group.heading]" ng-repeat="item in group.sublist">
                    <input name="parallelsGroup" type="radio" ng-click="$ctrl.setDetailParallel(item.title)">
                    {{item.title}}
                    ({{$ctrl.countParallels($ctrl.filterSource, item.title)}}<span style="color: #aaa" ng-if="$ctrl.filterSource">
                        filtered from {{item.count}}</span>)
                    </div>
                </div>
                <div ng-if="$ctrl.groupList($ctrl.getParallels(), 0).length > $ctrl.resultsLimit">...</div>
            </div>
            <div class="text-center" ng-if="$ctrl.overflowResults()"><button class="btn btn-default" ng-click="$ctrl.toggleShowAll()">
                {{$ctrl.showAll ? "Hide" : "Show All"}}
            </button></div>
        </div>
    </div>
    <div>
        <parallels-details experiment="$ctrl.experiment"
                           filter-sources="$ctrl.filterSources"
                           filter-parallels="$ctrl.filterParallels"
                           more-results="$ctrl.moreResults()"
                           more-results-available="$ctrl.moreResultsAvailable"></parallels-details>
    </div>
</div>