<div>
    <div class="ngdialog-message">
        <action-mode></action-mode>
        <in-progress></in-progress>
        <br/>
        <div ng-show="ActionMode == 'BrowseThisComputer' && !showInProcess">
            <browse-this-computer></browse-this-computer>
        </div>
        <div ng-show="ActionMode == 'SelectOnlineCorpus' && !showInProcess">
            <select-online-corpus></select-online-corpus>
        </div>
        <br/>
        <table style="width:100%;">
            <tr>
                <td>
                    <div class="name-class">
                        <label>Name this class: </label>
                        <input class="name-class form-control" focus-on="focusClassName" ng-model="$ctrl.classObject.ClassName"
                               type="text"/>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="ngdialog-buttons" ng-show="!showInProcess">
        <button type="button" class="padding_5 radius ngdialog-button ngdialog-button-primary"
                ng-click="$ctrl.onConfirm()">Save class
        </button>
        <button type="button" class="padding_5 radius ngdialog-button ngdialog-button-secondary"
                ng-click="$ctrl.onCancel()">Cancel
        </button>
    </div>
</div>