<div class="ngdialog-message">
    <h3>Select algorithm</h3>
    <fieldset>
        <legend>Algorithm</legend>
        <table style="width:100%;">
            <tr>
                <td>Algorithm type:</td>
                <td>
                    <select id="AlgorithmType" ng-model="$ctrl.selectedAlgorithm" ng-options="item as item.name for item in $ctrl.algorithms"></select>
                </td>
            </tr>
            <tr>
                <td>Attributes:</td>
                <td>
                    <input ng-model="$ctrl.selectedAlgorithm.attributes" type="text" value="{{$ctrl.selectedAlgorithm.attributes}}" />
                </td>
            </tr>
        </table>
    </fieldset>
</div>
<div class="ngdialog-buttons">

    <button type="button" class="ngdialog-button ngdialog-button-cancel" ng-click="$ctrl.onDiscard()">Cancel</button>
    <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="$ctrl.updateAndClose()">Done</button>
</div>