<div class="container-fluid" style="background-color: #fff">
    <div class="row">
        <div class="col-xs-2">
            <h1>Remove words and features</h1>
            <div><i class="material-icons">info</i> Choose what to exclude from analysis</div>
            <div ng-repeat="category in $ctrl.categories">
                <input title="{{category}}" type="checkbox" ng-model="$ctrl.selectedCategories[category]">  {{category}}
            </div>
            <div>Reset</div>
            <div><button class="rounded-btn btn-default"><i class="material-icons">refresh</i> Update</button></div>
        </div>
        <div class="col-xs-10">
            <div ng-if="featuresData.length && !featureSetChanged" class="col-sm-12">
                <hr>
                <div id="featureSetFeatureTable" class="feature">
                    <feature-table is-select-disabled="false" features="featuresData" is-morphology="featureSet.tokenizerType == 'Morphology' || featureSet.tokenizerType.startsWith('Syntax')" classes="$ctrl.classObject.Corpus_classes"></feature-table>
                </div>
            </div>
        </div>
    </div>
</div>
