<div id="section{{$ctrl.index}}" class="text-with-features">
    <h2><span class="class-number class-bg-color-{{$ctrl.classifiedClassIndex}}">{{$ctrl.classifiedClassIndex}}</span>
        <span class="text-title">{{$ctrl.testFile.title}}</span></h2>
    <div class="classified-as"><span class="class-color-{{$ctrl.classifiedClassIndex}}">{{$ctrl.testFile.classifiedAs}}</span>,
                                      <i ng-show="$ctrl.testFile.confidence==100">very high</i>
                                      <i ng-show="$ctrl.testFile.confidence>=95 && $ctrl.testFile.confidence<100">high</i>
                                      <i ng-show="$ctrl.testFile.confidence>=80 && $ctrl.testFile.confidence<95">medium</i>
                                      <i ng-show="$ctrl.testFile.confidence<80">low</i>
        confidence
    </div>
    <p ng-bind-html="convert2TrustAsHtml($ctrl.testFile.htmlText)">
    </p>
</div>
