<div class="ngdialog-message text-classification-data-dialog">
    <h2 class="class-color-{{$ctrl.indexOfClass($ctrl.testFile.classifiedAs)}}">
        <span class="align-left">{{$ctrl.testFile.title}}</span><span class="align-right">
    {{$ctrl.testFile.length}} words, {{$ctrl.testFile.classifiedAs}},
    <i ng-show="$ctrl.testFile.confidence==100">very high</i>
    <i ng-show="$ctrl.testFile.confidence>=95 && $ctrl.testFile.confidence<100">high</i>
    <i ng-show="$ctrl.testFile.confidence>=80 && $ctrl.testFile.confidence<95">medium</i>
    <i ng-show="$ctrl.testFile.confidence<80">low</i>
    </span>
    </h2>
    <div class="feature-area">
        <div class="feature">
            <table>
                <thead>
                <tr class="feature_content">
                    <th class="class-table">
                        Class
                    </th>
                    <th class="feature-class">
                        Feature
                    </th>
                    <th class="occur-class">
                        Approximate Occurrences
                    </th>
                    <th class="frequency-class">
                        Frequency
                    </th>
                    <th class="t-text-class">
                        T-Test
                    </th>
                    <th class="infl-class">
                        Influence
                    </th>
                </tr>
                </thead>
                <tbody ng-repeat="oneclass in $ctrl.classes">
                <tr>
                    <th rowspan="{{$ctrl.testFile.featureList.length}}"
                        class="classification-data-classname class-color-{{$index}}">
                        <h4>{{oneclass.title}}</h4>
                    </th>
                    <th colspan="5">
                        <p><i class="fa fa-star"></i> Represented
                            ({{($ctrl.testFile.featureList | positiveInfluence: oneclass.title).length}})</p>
                    </th>
                </tr>


                <tr ng-repeat="feature in $ctrl.testFile.featureList | orderBy:test_predicate:reverse | orderBy:'-influence' | positiveInfluence: oneclass.title">
                    <td title="{{feature.title}}"><b ng-click="$ctrl.showExamples(feature)">{{$ctrl.convertFeatureName(feature.name)}}</b>
                    </td>
                    <td class="occur-content">{{feature.numberOfAppearancesInDoc | number:
                        0}}
                    </td>
                    <td class="frequenct-content">
                        <feature-frequency-graph
                                feature-id='represented_{{$ctrl.testFile.name | makeValidId}}{{$index}}'
                                currentvalue='{{feature.freqInDoc}}'
                                classaverage='{{feature.averageForEachClass[oneclass.title]}}'
                                otheraverage='{{feature.freqInOthers}}'
                                ttest='{{feature.tTestForEachClass[oneclass.title]}}'
                                classcolor='{{$ctrl.classNameToColor(oneclass.title)}}'
                        ></feature-frequency-graph>
                    </td>

                    <td class="t-text-content">{{feature.tTestForEachClass[oneclass.title] |
                        number : 2}}
                    </td>
                    <td class="infl-content">{{feature.influence | number : 2}}</td>
                </tr>
                <tr>
                    <th colspan="5">
                        <p class="reprencented">Insufficient occurrences ({{($ctrl.testFile.featureList |
                            negativeInfluence: oneclass.title).length}})</p>
                    </th>
                </tr>
                <tr ng-repeat="feature in $ctrl.testFile.featureList | orderBy:test_predicate:reverse | orderBy:'-influence' | negativeInfluence: oneclass.title">
                    <td title="{{feature.title}}"><b ng-click="$ctrl.showExamples(feature)">{{$ctrl.convertFeatureName(feature.name)}}</b>
                    </td>
                    <td class="occur-content">{{feature.numberOfAppearancesInDoc | number:
                        0}}
                    </td>
                    <td class="frequenct-content">
                        <feature-frequency-graph
                                feature-id='represented_{{$ctrl.testFile.name | makeValidId}}{{$index}}'
                                currentvalue='{{feature.freqInDoc}}'
                                classaverage='{{feature.averageForEachClass[oneclass.title]}}'
                                otheraverage='{{feature.freqInOthers}}'
                                ttest='{{feature.tTestForEachClass[oneclass.title]}}'
                                classcolor='{{$ctrl.classNameToColor(oneclass.title)}}'
                        ></feature-frequency-graph>
                    </td>

                    <td class="t-text-content">{{feature.tTestForEachClass[oneclass.title] |
                        number : 2}}
                    </td>
                    <td class="infl-content">{{feature.influence | number : 2}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <button class="rounded-btn btn-blue" ng-click="$ctrl.onConfirm()">OK</button>
    </div>
</div>