.idea/
dTiberias/oldimport/
node_modules/.bin/
node_modules/eslint*
node_modules/angular-mocks/
node_modules/jasmine-core/
node_modules/karma*
.eslintrc.js
*.htm.orig
*.html.orig
node_modules/angular-ui-bootstrap/src
node_modules/angular-ui-bootstrap/template
node_modules/jquery/src
node_modules/ng-dialog/tests
node_modules/ng-dialog/example
