.idea/
dTiberias/oldimport/
node_modules/.bin/
node_modules/eslint*
node_modules/angular-mocks/
node_modules/jasmine-core/
node_modules/karma*
.eslintrc.js
*.htm.orig
*.html.orig
node_modules/angular-ui-bootstrap/src
node_modules/angular-ui-bootstrap/template
node_modules/jquery/src
node_modules/ng-dialog/tests
node_modules/ng-dialog/example
node_modules/hopscotch/src
node_modules/angucomplete-alt/test/
node_modules/angucomplete-alt/example/
node_modules/lodash/
node_modules/@uirouter/angularjs/node_modules
node_modules/@uirouter/core/lib
node_modules/@uirouter/angularjs/lib-esm
node_modules/@uirouter/core/lib-esm/
node_modules/window-size/
node_modules/browser-resolve/
node_modules/ansi-regex/
node_modules/ansi-styles/
node_modules/array-unique
node_modules/arr-diff
node_modules/arr-flatten
node_modules/atob
node_modules/align-text
node_modules/balanced-match
node_modules/brace-expansion
node_modules/braces
node_modules/browser-resolve
node_modules/builtin-modules
node_modules/camelcase
node_modules/center-align
node_modules/chalk
node_modules/cliui
node_modules/concat-map
node_modules/decamelize
node_modules/escape-string-regexp
node_modules/estree-walker
node_modules/expand-brackets
node_modules/expand-range
node_modules/extglob
node_modules/filename-regex
node_modules/fill-range
node_modules/for-in
node_modules/for-own
node_modules/glob-base
node_modules/glob-parent
node_modules/has-ansi
node_modules/is-buffer
node_modules/is-dotfile
node_modules/is-equal-shallow
node_modules/is-extendable
node_modules/is-extglob
node_modules/is-glob
node_modules/is-module
node_modules/is-number
node_modules/is-posix-bracket
node_modules/is-primitive
node_modules/isarray
node_modules/isobject
node_modules/kind-of
node_modules/lazy-cache
node_modules/longest
node_modules/micromatch
node_modules/minimatch
node_modules/normalize-path
node_modules/object.omit
node_modules/parse-glob
node_modules/path-parse
node_modules/preserve
node_modules/randomatic
node_modules/regex-cache
node_modules/remove-trailing-separator
node_modules/repeat-element
node_modules/repeat-string
node_modules/resolve
node_modules/resolve-url
node_modules/right-align
node_modules/rollup
node_modules/rollup-plugin-node-resolve
node_modules/rollup-plugin-progress
node_modules/rollup-plugin-sourcemaps
node_modules/rollup-plugin-uglify
node_modules/rollup-pluginutils
node_modules/source-map
node_modules/source-map-resolve
node_modules/source-map-support
node_modules/source-map-url
node_modules/strip-ansi
node_modules/supports-color
node_modules/uglify-js
node_modules/uglify-to-browserify
node_modules/urix
node_modules/window-size
node_modules/wordwrap
node_modules/yargs
node_modules/angular-ui-router/src/
node_modules/angular-ui-router/src/
node_modules/angular-ui-router/src/
node_modules/angular-ui-router/src/
node_modules/@uirouter/angularjs/lib/
