<div style="position: relative; width: 400px; height: 60px">

    <div class="feature-freq-line"></div>
    <div class="feature-freq-bars"></div>
    <div ng-if="otheraverage !== undefined" class="feature-freq-other-dot" ng-style="otherDot"></div>
    <div ng-if="otheraverage !== undefined" class="feature-freq-other-dot-label" ng-style="otherDotLabel">{{otheraverage}}</div>
    <div ng-repeat-start="classaverage in classaverages" class="feature-freq-dot" ng-style="classDot($index)"></div>
    <div ng-repeat-end class="feature-freq-dot-label" ng-style="classDotLabel($index)">{{classaverage}}</div>
    <div ng-if="currentvalue !== undefined" class="feature-freq-arrow-down" ng-style="currentMark"></div>
    <div ng-if="currentvalue !== undefined" class="feature-freq-arrow-down-label" ng-style="currentMarkLabel">{{currentvalue}}</div>
</div>