<table class="table table-striped feature-set-table">
    <tr class="vfeature_content">
        <td>Feature</td>
        <td>Class</td>
        <td class="vimages_2">Occurrences</td>
        <td class="vimages_three">Frequency</td>
        <td class="vimages_3">T-test</td>
    </tr>
    <tr ng-repeat="feature in features" ng-class="feature.selected ? '' : 'disabled-table-row'">
        <td class="icon-td"><input type="checkbox" ng-model="feature.selected"> <b>{{feature.name}}</b>
        </td>
        <td>
            <div class="class-dot" ng-style="classNameToBgStyle(feature.className)"></div>
            {{feature.className}}
        </td>
        <td>??</td>
        <td>
            <feature-frequency-graph feature-id="a"
                                     classaverages='feature.averageForEachClass'
                                     ttest='{{feature.maxTTest}}'
            ></feature-frequency-graph>
        </td>
        <td>{{feature.maxTTest}}</td>
    </tr>

</table>