


        <div class="col-md-4">

            <div  ng-show="!showInProcess"  class="box-left-side">

                <div ng-show="false" class="box-in">
                    <h2><a href="#">In all collections<span class="fa fa-caret-down"></span></a></h2>
                    <p><img src="images/firstTab/setting.png" alt="" /> Advanced</p>

                </div>

                <div class="box-found">
                    <div ng-show="smallUnits.length <= 800">
                        <h3 ng-show="chunkSelectedIndex == -1">Found {{numOfParallels}} parallels</h3>
                        <h3 ng-show="chunkSelectedIndex != -1">Found {{parrallelsPerChunk[chunkSelectedIndex].parallels.length}} parallels</h3>
                    </div>

                    <div ng-show="false" class="box-fexo">
                        <ul>
                            <li><h2>Exodus</h2> <small>Most similar overall</small></li>
                            <li><h2>83%</h2><small>Similarity</small></li>
                        </ul>

                    </div>

                </div>
                <div ng-show="chunkSelectedIndex == -1" class="box-bys">
                    <ul ng-repeat="group in groups">
                        <li><h2>{{group.name}}</h2></li>
                        <li><a ng-click="updateGroupIndex($index)">{{group.numOfParallels}} parallels <i class="fa fa-caret-down"></i></a></li>
                        <div ng-show="$index == currentGroupIndex" class="box-contens yellow">
                            <div ng-repeat="parallel in group.parallels">
                                <ul>
                                    <li style="float:right;"><h2>{{parallel.parallelTitle}}</h2></li>
                                    <li><small> parallel in - {{sourceForSmallUnits[parallel.chunkIndex]}}</small></li>
                                </ul>
                                <p style="direction:rtl; border-bottom:3px solid #BDCBD4;">
                                    {{parallel.parallelText}}
                                </p>
                            </div>
                                    

                        </div>
                    </ul>
                </div>
                <div ng-show="chunkSelectedIndex != -1" class="box-bys">
                    <div class="box-contens yellow">
                        <div ng-repeat="parallel in parrallelsPerChunk[chunkSelectedIndex].parallels">
                            <ul>
                                <li style="float:right;"><h2>{{parallel.parallelTitle}}</h2></li>
                                <li><small> parallel in - {{sourceForSmallUnits[parallel.chunkIndex]}}</small></li>
                            </ul>
                            <p style="direction:rtl; border-bottom:3px solid #BDCBD4;">
                                {{parallel.parallelText}}
                            </p>
                        </div>
                    </div>
                </div>

                        
            </div>
        </div>


        <div class="col-md-7">
            <in-progress></in-progress>


            <div ng-show="!showInProcess && chunkSelectedIndex != -1">
                <div class="box-bys">
                    <h3 ng-click="chunkSelectedIndex = -1;">Show all chunks</h3>
                </div>
                <div class="border-box">
                    <h2 style="background-color:#cfcfcf;">{{sourceForSmallUnits[chunkSelectedIndex]}}</h2>
                    <p style="direction:rtl;" class="line-h2" ng-bind-html="markParallelsForSelectedChunk(chunkSelectedIndex)">
                    </p>
                </div>
            </div>
            <div ng-show="!showInProcess && chunkSelectedIndex == -1" ng-repeat="chunk in smallUnits | filter:parallelFilter" class="box-right-side">
                <div ng-click="setSelectedChunkIndex($index)" class="border-box">
                    <h2 style="background-color:#cfcfcf;">{{sourceForSmallUnits[$index]}}</h2>
                    <p style="direction:rtl;" class="line-h2" ng-bind-html="markParallels(chunk)">
                    </p>
                </div>
            </div>

        </div>

    <div ng-show="!showInProcess" class="col-md-1">
        <div class="sid-bar0">
            {{(smallUnits | filter:parallelFilter).length}}
        </div>

        <div title="{{sourceForSmallUnits[$index]}}"
             ng-click="setSelectedChunkIndex($index)" 
             ng-repeat="chunk in smallUnits | filter:parallelFilter" class="sid-bar {{setSelectedClass($index)}}">
            ({{parrallelsPerChunk[$index].parallels.length}})
            <p style="direction:rtl;" class="line-h" ng-bind-html="createThumbnail(chunk)" />
        </div>

        <div style="border:1px solid #BDCBD4;">
        </div>
    </div>





