


        <div class="col-md-4">

            <div  ng-show="!showInProcess"  class="box-left-side">

                <div class="button-slider author-text">
                    <h2>Parallels Settings</h2>
                    <ul class="nav nav-tabs">
                        <li id="parallelsControls" class="{{advancedSettings == 0 ? 'active' : ''}}"><a ng-click="advancedSettings = 0">Basic
                            Settings</a></li>
                        <li id="parallelsAdvancedControls" class="{{advancedSettings == 1 ? 'active' : ''}}"><a ng-click="advancedSettings = 1">Advanced
                            Settings</a></li>
                    </ul>
                    <div class="clearfix">
                        <div ng-show="advancedSettings == 0">
                            <p>Find Parallels in: <button class="btn btn-primary disabled">Library...</button></p>

                            <p>Look for:</p>

                            <p>
                                <label><input type="radio" name="matchLength" checked
                                              ng-click="minParallelLength=15;maxParallelSkip=5"/>Longer Matches Only
                                </label>
                            </p>
                            <p>
                                <label><input type="radio" name="matchLength"
                                              ng-click="minParallelLength=6;maxParallelSkip=2"/>Include Shorter Matches
                                </label>
                            </p>
                        </div>
                        <div ng-show="advancedSettings == 1">
                            <p>
                                <div class="col-xs-8" width="80%">Minimum length of parallel:</div>
                                <input class="col-xs-3" width="10%" type="number" ng-model="minParallelLength"/>
                            </p>

                            <p>
                                <div class="col-xs-8" width="80%">Maximum words to skip: </div>
                                <input class="col-xs-3" width="10%" type="number" ng-model="maxParallelSkip"/>
                            </p>
                        </div>

                        <p>
                            <div class="col-xs-12"><a class="btn btn-primary" ng-click="runParallels()">Find
                                Parallels</a></div>
                        </p>
                    </div>
                </div>
                <hr>
                <div class="box-found">
                    <div ng-show="smallUnits.length <= 800">
                        <h3 ng-show="parallels.haveResults && chunkSelectedIndex == -1">Found {{numOfParallels}} parallels</h3>
                        <h3 ng-show="parallels.haveResults && chunkSelectedIndex != -1">Found {{parrallelsPerChunk[chunkSelectedIndex].parallels.length}} parallels</h3>
                    </div>

                    <div ng-show="false" class="box-fexo">
                        <ul>
                            <li><h2>Exodus</h2> <small>Most similar overall</small></li>
                            <li><h2>83%</h2><small>Similarity</small></li>
                        </ul>

                    </div>

                </div>
                <div ng-show="parallels.haveResults && chunkSelectedIndex == -1" class="box-bys">
                    <ul ng-repeat="group in groups">
                        <li><h2>{{group.name}}</h2></li>
                        <li><a ng-click="updateGroupIndex($index)">{{group.numOfParallels}} parallels <i class="fa fa-caret-down"></i></a></li>
                        <div ng-show="$index == currentGroupIndex" class="box-contens yellow">
                            <div style="border-bottom:3px solid #FFFFFF;" ng-repeat="parallel in group.parallels">
                                <ul>
                                    <li style="float:right;"><h2>{{removePrefix(group.name, parallel.parallelTitle, 3)}}</h2></li>
                                    <li></li>
                                </ul>
                                <p style="direction:rtl;" class="clearfix">
                                    {{parallel.parallelText}}
                                </p>
                                <ul><li>
                                <small> parallel to - {{
                                removePrefix(selectClassService.testSetTitlesCommonPrefix,sourceForSmallUnits[parallel.chunkIndex],1)
                                }}</small>
                                </li></ul>
                            </div>
                                    

                        </div>
                    </ul>
                </div>
                <div ng-show="parallels.haveResults && chunkSelectedIndex != -1" class="box-bys">
                    <div class="box-contens yellow">
                        <div style="border-bottom:3px solid #FFFFFF;" ng-repeat="parallel in parrallelsPerChunk[chunkSelectedIndex].parallels">
                            <ul>
                                <li style="float:right;"><h2>{{parallel.parallelTitle}}</h2></li>
                                <li></li>
                            </ul>
                            <p style="direction:rtl;" class="clearfix">
                                {{parallel.parallelText}}
                            </p>
                            <ul><li>
                                <small> parallel to - {{removePrefix(selectClassService.testSetTitlesCommonPrefix, sourceForSmallUnits[parallel.chunkIndex], 1)}}</small>
                            </li></ul>

                        </div>
                    </div>
                </div>

                        
            </div>
        </div>


        <div class="col-md-7">
            <in-progress></in-progress>


            <div ng-show="!showInProcess && parallels.haveResults && chunkSelectedIndex != -1">
                <div class="box-bys">
                    <h3 ng-click="chunkSelectedIndex = -1;">Show all chunks</h3>
                </div>
                <div class="border-box">
                    <h2 style="background-color:#cfcfcf;">{{removePrefix(selectClassService.testSetTitlesCommonPrefix,sourceForSmallUnits[chunkSelectedIndex], 1)}}</h2>
                    <p style="direction:rtl;" class="line-h2" ng-bind-html="markParallelsForSelectedChunk(chunkSelectedIndex)">
                    </p>
                </div>
            </div>
            <div ng-show="!showInProcess && parallels.haveResults && chunkSelectedIndex == -1" ng-repeat="chunkIndex in keys(smallUnits) | filter:parallelFilter" class="box-right-side">
                <div ng-click="setSelectedChunkIndex(chunkIndex)" class="border-box">
                    <h2 style="background-color:#cfcfcf;">{{removePrefix(selectClassService.testSetTitlesCommonPrefix, sourceForSmallUnits[chunkIndex], 1)}}</h2>
                    <p style="direction:rtl;" class="line-h2" ng-bind-html="markParallels(smallUnits[chunkIndex])">
                    </p>
                </div>
            </div>

        </div>

    <div ng-show="parallels.haveResults && !showInProcess" class="col-md-1">
        <div class="sid-bar0">
            {{(keys(smallUnits) | filter:parallelFilter).length}}
        </div>

        <div title="{{sourceForSmallUnits[$index]}}"
             ng-click="setSelectedChunkIndex($index)" 
             ng-repeat="chunkIndex in keys(smallUnits) | filter:parallelFilter" class="sid-bar {{setSelectedClass(chunkIndex)}}">
            ({{parrallelsPerChunk[chunkIndex].parallels.length}})
            <p style="direction:rtl;" class="line-h" ng-bind-html="createThumbnail(smallUnits[chunkIndex])" />
        </div>

        <div style="border:1px solid #BDCBD4;">
        </div>
    </div>





