<div style="position: relative; width: 400px; height: 60px">

    <div class="feature-freq-line"></div>
    <div class="feature-freq-bars"></div>
    <div class="feature-freq-dot" ng-style="firstDot"></div>
    <div class="feature-freq-dot-label" ng-style="firstDotLabel">{{otheraverage}}</div>
    <div class="feature-freq-dot2" ng-style="secondDot"></div>
    <div class="feature-freq-dot2-label" ng-style="secondDotLabel">{{classaverage}}</div>
    <div class="feature-freq-arrow-down" ng-style="currentMark"></div>
    <div class="feature-freq-arrow-down-label" ng-style="currentMarkLabel">{{currentvalue}}</div>
</div>