    <div class="col-xs-12">
        <div id="segmentationControls" class="button-slider author-text">
            <h2>SOURCE CRITICISM</h2>

            <p class="refine-segmentation">Choose granularity:</p>
            <img title="How granular do you want the decomposition to be." data-toggle="tooltip" style="width:20px;height:20px;" src="images/question-mark.png">
             
            <input id="NumberOfSentencesLockedInId" 
                    ng-model="$ctrl.experiment.Segmentation_NumberOfSentencesLockedIn"
                    type="text" data-slider-min="10" data-slider-max="90" 
                    data-slider-step="1"
                    data-slider-id='NumberOfSentencesLockedInIdSlider' />
            <p class="rough-refine"> <span class="text-left1">Rough</span><span class="text-right1">Fine</span></p>

            <div class="clearfix"></div>
            <div class="author-refine-section">
                <p class="advance"><i class="fa fa-wrench" aria-hidden="true"></i><a href="">Advanced</a></p>
                <button ng-click="$ctrl.RunExperiment();" class="btn segments-btn">Go</button>
            </div>
        </div>

    </div>

    <in-progress></in-progress>

    <div class="col-xs-12">
        <div class="box-right-side">
            <div class="view-text" ng-show="$ctrl.experiment.resultData.segments">
                <div class="row">
                    <div class="col-xs-4" ng-repeat="classData in $ctrl.experiment.featuresData.classes">
                        Some of the features defining <span class="A{{$index}}">this class</span>:
                        <ul>
                            <li ng-repeat="feature in $ctrl.getTopFeatures(classData)">{{feature.name}}</li>
                        </ul>
                    </div>
                </div>
                <ul class="list-inline">
                    <li ng-class=" $ctrl.tab == '1' ? 'active' : ''"><a ng-click="$ctrl.tab = 1">View text</a></li>
                    <li><a>|</a></li>
                    <li ng-class=" $ctrl.tab == '2' ? 'active' : ''"><a ng-click="$ctrl.tab = 2">View features</a></li>
                </ul>
            </div>

            <div class="clearfix"></div>

        </div>
    </div>
    <div ng-show="$ctrl.tab == '1'">
        <div class="col-xs-12">
            <div ng-show="$ctrl.experiment.resultData.segments" class="box-right-side">
                <div class="border-box">
                    <h2><span class="align-left">Selected text</span><span class="align-right">?</span></h2>
                    <p class="line-h">
                        <div id="segmentationSection{{$index}}" ng-repeat="hSegment in $ctrl.experiment.resultData.segments" >
                            <div ng-repeat="segment in hSegment">
                                <div dir="rtl" class="class-color-{{segment.classIndex}}">
                                <span style="font-size:8px;" ng-show="$ctrl.experiment.isAllBibleSegmentation">({{segment.prefix}})</span> {{$ctrl.createSegment(segment.text)}}
                                </div>
                            </div>
                        </div>
                    </p>
                </div>
            </div>
        </div>
        <div ng-show="!$ctrl.showInProcess && $ctrl.experiment.resultData !== undefined && $ctrl.experiment.resultData.segments !== undefined" class="col-md-1">
            <chunk-bar chunks="$ctrl.chunkBarData"></chunk-bar>
        </div>
    </div>
    <div ng-show="$ctrl.tab =='2'">
        <div class="col-md-8">
            <feature-table is-select-disabled="true" classes="$ctrl.experiment.featuresData.classes" features="$ctrl.experiment.featuresData.features[0]"></feature-table>
        </div>
    </div>