<div>
    <div class="main-page-controls">
        <div class="main-page-selection-summary">
            <div class="search-top-left">
                <span class="top-back-arrow" ui-sref="classificationStart"><i class="material-icons">keyboard_arrow_left</i></span>
                <span class="small-logo">Dicta<sup>Bible</sup></span>
            </div>
            <h1>{{$ctrl.getSelection()}}</h1>
            <h2 ng-if="$ctrl.getSubtitle()">{{$ctrl.getSubtitle()}}</h2>
            <a ui-sref="bibleInterface.view"><i class="material-icons">view_day</i>
                View</a>
            <a ng-click="$ctrl.editSelectedText()"><i class="material-icons">edit</i>
                Edit</a>
        </div>
        <ul class="nav-tabs-left">
            <!--<li class="{{$ctrl.active('parallels')}}" ng-click="$ctrl.tab='parallels'"><a>Find Parallel Verses</a></li>-->
            <li ui-sref-active="active-tab" ui-sref="bibleInterface.classify">
                <a><i class="material-icons">call_split</i>
                    Classify a Text</a>
                <ui-view name="classifyControls"></ui-view>
            </li>
            <!--<li ui-sref-active="active-tab" ui-sref="bibleInterface.segment">-->
                <!--<a><i class="material-icons">content_copy</i>-->
                    <!--Source Criticism</a>-->
                <!--<ui-view name="segmentControls"></ui-view>-->
            <!--</li>-->
            <!--<li ui-sref-active="active-tab" ui-sref="information">-->
                <!--<a><i class="material-icons">info</i>-->
                    <!--Information</a>-->
            <!--</li>-->
        </ul>
    </div>
    <div class="container-fluid">
        <div class="row">
            <ui-view name="main"></ui-view>
        </div>
    </div>
</div>