<div class="container">
    <div class="row">
        <div class="col-xs-2" style="position:sticky;top:0">
            <img src="images/logo_small_b.png" alt="Dicta">
            <ul class="nav nav-tabs tabs-left">
                <li class="{{$ctrl.active('search')}}" ng-click="$ctrl.tab='search'"><a>Search</a></li>
                <li class="{{$ctrl.active('select')}}" ng-click="$ctrl.tab='select'"><a>Choose Text</a></li>
                <!--<li class="{{$ctrl.active('parallels')}}" ng-click="$ctrl.tab='parallels'"><a>Find Parallel Verses</a></li>-->
                <li class="{{$ctrl.active('classify')}}" ng-click="$ctrl.tab='classify'"><a>Classify a Text</a></li>
                <li class="{{$ctrl.active('segmentation')}}" ng-click="$ctrl.tab='segmentation'"><a>Source Criticism</a></li>
            </ul>
        </div>
        <div class="col-xs-2"><h1>&nbsp;</h1></div>
        <div class="col-xs-10">
            <search ng-show="$ctrl.tab=='search'" ></search>
            <div ng-show="$ctrl.tab=='select'">
                <div ng-if="$ctrl.textChosen">
                    <h4>Selected Text</h4>
                    <ul>
                        <!-- FIXME: list-style-type is only set because style.css is a mess -->
                        <li style="list-style-type: disc" ng-repeat="key in $ctrl.selectedText.keys">{{key}}</li>
                    </ul>
                    <div ng-hide="$ctrl.showChooseText">
                        <button class="btn btn-default"
                                ng-click="$ctrl.showChooseText = true; $ctrl.textChosen = false">Change Selection</button>
                    </div>
                </div>
                <bible-view-selected-text on-search="$ctrl.runSearch(query)" ng-if="$ctrl.textChosen"></bible-view-selected-text>
                <choose-text-dialog
                    ng-show="$ctrl.showChooseText"
                    on-confirm="$ctrl.saveText(selectionData)"
                    hide-cancel="true"
                ></choose-text-dialog>
            </div>
            <div ng-if="$ctrl.textChosen">
                <parallels ng-show="$ctrl.tab=='parallels'"></parallels>
                <classification ng-show="$ctrl.tab=='classify'"></classification>
                <segmentation ng-show="$ctrl.tab=='segmentation'"></segmentation>
            </div>
            <div ng-if="!$ctrl.textChosen && ['parallels','classify','segmentation'].includes($ctrl.tab)">Please <a ng-click="$ctrl.tab='select'">choose a text</a> first.</div>
        </div>
    </div>
</div>